/*
 * Copyright (c) 2012, Danno Ferrin
 *   All rights reserved.
 *
 *   Redistribution and use in source and binary forms, with or without
 *   modification, are permitted provided that the following conditions are met:
 *       * Redistributions of source code must retain the above copyright
 *         notice, this list of conditions and the following disclaimer.
 *       * Redistributions in binary form must reproduce the above copyright
 *         notice, this list of conditions and the following disclaimer in the
 *         documentation and/or other materials provided with the distribution.
 *       * Neither the name of Danno Ferrin nor the
 *         names of contributors may be used to endorse or promote products
 *         derived from this software without specific prior written permission.
 *
 *   THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 *   ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 *   WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 *   DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 *   DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 *   (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 *   LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 *   ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *   (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 *   SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
/* Based on the webkit default stylesheet
 * http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css
 */

 Text {
  -fx-font-smoothing-type: lcd;
  -fx-font-size: 1.0em;
 }

.md-body {
 -fx-padding: 8px;
}

.md-emph {
  -fx-font-style: italic;
}

.md-strong {
 -fx-font-weight: bold;
}

.md-code, .md-verbatim {
 -fx-font-family: Monospace;
 -fx-font-weight: bold;
}

.md-verbatim {
 -fx-padding: 0.5em 0 0.5em 40px;
}

.md-blockquote {
  -fx-padding: .5em 40px .5em 40px;
}

.md-para {
  -fx-padding: .5em 0 .5em 0;
}

.md-hyperlink {
  -fx-fill: blue;
  -fx-cursor: hand;
  -fx-underline: true;
}

.md-unordered-list, .md-ordered-list {
  -fx-padding: .5em 0 .5em 40;
}

.md-header {
 -fx-font-weight: bold;
}

.md-header-1 {
  -fx-font-size: 2.0em;
  -fx-padding: 0.33em 0 0.33em;
}

.md-header-2 {
  -fx-font-size: 1.5em;
  -fx-padding: 0.41em 0 0.42em;
}

.md-header-3 {
  -fx-font-size: 1.17em;
  -fx-padding: 0.5em 0 0.5em;
}

.md-header-4 {
  -fx-padding: .66em 0 .66em;
}

.md-header-5 {
  -fx-font-size: .83em;
  -fx-padding: 0.83em 0 0.83em;
}

.md-header-6 {
  -fx-font-size: 0.67em;
  -fx-padding: 1.16em 0 1.16em;
}

GridPane {
  -fx-border-color: grey;
  -fx-padding: 1px;
}

FlowPane.md-table-header {
  -fx-font-weight: bold;
  -fx-border-insets: 1px;
  -fx-border-color: grey;
  -fx-padding: 1px;
}

FlowPane.md-table-row {
  -fx-border-insets: 1px;
  -fx-border-color: grey;
  -fx-padding: 1px;
}

