/*
 * Copyright (c) 2012, Danno Ferrin
 *   All rights reserved.
 *
 *   Redistribution and use in source and binary forms, with or without
 *   modification, are permitted provided that the following conditions are met:
 *       * Redistributions of source code must retain the above copyright
 *         notice, this list of conditions and the following disclaimer.
 *       * Redistributions in binary form must reproduce the above copyright
 *         notice, this list of conditions and the following disclaimer in the
 *         documentation and/or other materials provided with the distribution.
 *       * Neither the name of Danno Ferrin nor the
 *         names of contributors may be used to endorse or promote products
 *         derived from this software without specific prior written permission.
 *
 *   THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 *   ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 *   WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 *   DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 *   DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 *   (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 *   LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 *   ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *   (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 *   SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
/* Based on the Github markdown stylesheet- https://gist.github.com/3331384
   Based on the webkit default stylesheet
*/

Text {
 -fx-font-family: Helvetica;
 -fx-font-smoothing-type: lcd;
 -fx-font-size: 11pt;
}

.md-body {
 -fx-background-color: white;
 -fx-padding: 8px;
}

.md-emph {
  -fx-font-style: italic;
}

.md-strong {
 -fx-font-weight: bold;
}

.md-code, .md-verbatim {
 -fx-font-family: Monospace;
 -fx-font-weight: bold;
 -fx-padding: 0 5px 0 5px;
 -fx-border-color: #eaeaea;
 -fx-border-width: 1px;
 -fx-border-radius: 3px;
 -fx-background-color: #f8f8f8;
 -fx-background-radius: 3px;
}

.md-verbatim {
 -fx-border-insets: 15px 0px 15px 0px;
 -fx-background-insets: 15px 0px 15px 0px;
 -fx-padding: 6px 10px 6px 10px;
 -fx-border-color: #cccccc;
 -fx-font-size: 13pt
}

.md-blockquote {
 -fx-border-insets: 15px 0 0 0;
 -fx-border-width: 0 0 0 15px, 0 0 0 4px;
 -fx-border-color: #0000, #777777;
}

.md-para {
 -fx-padding: 15px 0 0 0;
}

.md-blockquote  .md-para {
 -fx-padding: 0 0 0 0;
}

.md-hyperlink {
  -fx-fill: #4183C4;
  -fx-cursor: hand;
}

.md-unordered-list, .md-ordered-list {
 -fx-padding: 15px 0 0 30px;
}

.md-header {
 -fx-padding: 10px  0  5px;
 -fx-font-weight: bold;
 -fx-cursor: text;
 -fx-font-family: Helvetica;
}

.md-header-1 {
  -fx-font-size: 28pt;
}

.md-header-2 {
  -fx-font-size: 24pt;
  -fx-border-width: 0 0 1px 0;
  -fx-border-color: #cccccc;
}

.md-header-3 {
  -fx-font-size: 18pt;
}

.md-header-4 {
  -fx-font-size: 16pt;
}

.md-header-5 {
  -fx-font-size: 14pt;
}

.md-header-6 {
  -fx-font-size: 14pt;
  -fx-fill: #777777;
}


GridPane {
  -fx-border-width: 0px 0px 1px 1px;
  -fx-border-color: #cccccc;
}

FlowPane.md-table-header {
  -fx-font-weight: bold;
  -fx-border-insets: 0px;
  -fx-border-width: 1px 1px 0px 0px;
  -fx-border-color: #cccccc;
  -fx-padding: 6px 13px;
}

FlowPane.md-table-row {
  -fx-border-insets: 0px;
  -fx-border-insets: 0px;
  -fx-border-width: 1px 1px 0px 0px;
  -fx-border-color: #cccccc;
  -fx-padding: 6px 13px;
}

.md-table-caption {
  -fx-border-insets: 0px;
  -fx-border-insets: 0px;
  -fx-border-width: 1px 1px 0px 0px;
  -fx-border-color: #cccccc;
}

FlowPane.odd {
  -fx-background-color: #f8f8f8;
}



.shelfDeck {
 -x-back-angle: 60;
 -x-back-offset: 30%;
 -x-back-spacing: 15%;
 -fx-padding: 30;
}