.content-margin .split-pane-divider {
    -fx-border-width: 0 0 0 1,0 0 0 1,0 0 0 1,0 0 0 1;
    -fx-background-insets: 0, 0;
}

.content-margin .split-pane-divider .horizontal-grabber {
    -fx-background-color: silver;
}

.margin-pane {
 -fx-background-color: #bbb;
}

.text-area {
  -fx-padding: 0px;
  -fx-background-color: white;
  -fx-background-insets: 0px;
  -fx-background-radius: 0px;
}

.text-area .scroll-pane .content {
  -fx-padding: 10px;
}

.text-area .scroll-pane {
  -fx-background-insets: 0px;
  -fx-padding: 0px;
}